body{ background-color:#FFFFFF; font-family:Arial; -webkit-text-size-adjust: none;}
*{ padding:0; margin:0;}
header,section{ display:block;}
.clear{ clear:both; font-size:0; line-height:0;}

header { min-width: 210px; line-height: 43px; height: 43px; border-bottom: solid 1px #C6D3DB; border-top: solid 1px #767877; width: 100%; background: -webkit-gradient(linear, 0 0, 0 100%, from(#E4E9ED), to(#D7E0E8)); }
header .nav_in { padding: 7px 0 0 6px; height: 30px; line-height: 30px; position: relative; display: -webkit-box; }

header section:first-child{ position:absolute; left:6px; top:7px;}
header section:first-child .nav_back { font-size: 12px; border: 0; overflow: hidden; }
header section:first-child .nav_back span { float: left; display: inline-block; width: 15px; height: 30px; overflow: hidden; }
header section:first-child .nav_back span em { display: inline-block; -webkit-transform: rotate(-54deg) skew(-16deg); position: relative; left: 12px; top: -23px; text-align: left; width: 76px; height: 76px; border: 1px solid #C6D3DB; border-color: #4374A0; background-color: Transparent; -webkit-border-radius: 3px; }
header section:first-child .nav_back a.prepage { float: left; font-size: 12px; font-weight: bold; text-decoration: none; display: inline-block; width: 49px; height: 28px; line-height: 28px; border: 1px solid #C6D3DB; border-left: 0; text-align: center; -webkit-border-radius: 0 4px 4px 0; border-color: #275888; background-color: Transparent; color: #4576B3; }
header section:nth-child(2){ text-align: center; -webkit-box-flex: 1; }
header section:nth-child(2) span { display: block; height: 30px; line-height: 30px; padding: 0 10px; font-size: 18px; font-weight: bold; color: #4576B3; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
header section:nth-child(3){ position:absolute; top:7px; right:9px;}

form{ min-width: 210px; }
.itemSection { margin: 7px 9px 8px; border: solid 1px #8AA4C3; -webkit-border-radius: 8px; -webkit-box-shadow: inset 0px 1px 1px #DEDEDE; background-color:#FFF; min-height: 41px; font-size:12px; }
.itemSection .itemDiv { line-height: 40px; border-top: solid 1px #8AA4C3; }
.itemSection div.itemDiv:first-child { border-top-width: 0; padding-top:1px; }
.itemSection .itemDiv span { font-weight: normal; padding-left: 12px; color:#4576B3; }
.itemSection .itemDiv span i{font-style:normal; color:#FF0000;}
.itemSection .itemDiv div span{ font-weight:normal; color:#38528B;}

.itemSection .selectDiv, .itemSection .inputDiv, .itemSection .radioDiv { display: -webkit-box; width: 100%; }

.itemSection .selectDiv div { -webkit-box-flex: 1; position: relative; width: 100%; }
.itemSection .selectDiv div:after { content: ""; top: 15px; right: 12px; position: absolute; display: inline-block; width: 6px; height: 6px; -webkit-transform: rotate(225deg); background: transparent; border-top: 2px solid #4576B3; border-left: 2px solid #4576B3; }
.itemSection .selectDiv select { width: 100%; height: 39px; color: #38528B; padding-left: 5px; -webkit-appearance: none; padding-right: 26px; border: 0; text-align: right; font-size: 12px; }
.itemSection .selectDiv em{ display:block; width:100%; font-style:normal; text-align:right; margin-right:26px;}

.itemSection .inputDiv div { -webkit-box-flex: 1; position: relative; width: 100%; padding-right: 21px;}
.itemSection .inputDiv input{ border: 0; padding-left:9px; height: 39px;color: #38528B; text-align: right; width: 100%; vertical-align:middle; font-size: 12px;}
.itemSection .inputDiv input[type="button"]{ text-align:center; height:31px; margin-top:4px; border:solid 1px #CCC;	background: -webkit-linear-gradient( top, #F5F5F5, #CBD4DB ); -webkit-border-radius: 2px; padding-left:0; font-size:12px; color:#3D6B92;cursor:pointer;}
.itemSection .inputDiv input:focus{ text-align:left; }

.itemSection .radioDiv div { display:table-cell; width: 100%; padding-right: 21px;}
.itemSection .radioDiv input{ vertical-align:middle; font-family:tahoma; margin:0px; }
.itemSection .radioDiv label { vertical-align:middle;}

.ajaxMsg{ color:#E7333F; text-align:center; width:100%; font-weight:bold; margin:10px 0 10px; line-height:24px; font-size:14px;}
.ajaxMsg em{ width:16px; height:16px; font-style:normal; font-weight:bold; color:#FFF; line-height:16px; text-align:center; font-size:14px; display:inline-block; margin-right:3px; -webkit-box-shadow: 0 1px 1px #818181; -webkit-border-radius: 13px; border:solid 2px #FFF; background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#EBBDC0), color-stop(0.05, #D25D66), to(#BE1421));}

.btnSubmitDiv { margin: 14px 10px; font-size: 16px; }
.btnSubmitDiv div { -webkit-box-flex: 1; text-align: left; }
.btnSubmitDiv div input { min-width: 60px; line-height: 30px; font-size:16px; font-weight:bold; height: 40px; width: 100%; color: #FFF; background: -webkit-linear-gradient(top, #94CBF5, #5093CE ); -webkit-border-radius: 6px; border-style: solid; border-width: 1px; -webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.2); }
.btnSubmitDiv div .disabled_style{background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#FBFBFB), color-stop(0.05, #F7F7F7), color-stop(0.50, #D2D3D5), color-stop(0.51, #C0C1C5), to(#C0C1C5));}

.submitSection{ overflow:hidden; border-top:solid 1px #F9F9F9;-webkit-box-shadow: 0 -1px #C2C2C2; }

.conlock{ background:transparent url(../images/checkbox.png) no-repeat scroll 0 -1px; margin:7px auto 0; padding-left:20px; width:280px; line-height:20px; font-size:12px; text-align:center;}

footer{ min-width: 210px; }
footer div{text-align:center; color:#646464; line-height:20px; margin-top:14px; margin-bottom:5px; font-size:12px;}

.agreement{ font-size:12px; margin:0 9px 8px; color:#000; position:relative;}
.agreement div:nth-child(1){ margin-left:28px;}
.agreement div:nth-child(2){ width:20px; margin:0 15px 15px 0; height:20px; position:absolute; left:0; top:0; background:transparent url(../images/right.png) no-repeat center right;}
/*
.agreement div.sel{ background-position:0 -99px;}
*/
.agreement a{ color:#000;}



