@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0}
body,button,input,select,textarea{font:12px/22px Tahoma,Arial,sans-serif;font-family:Tahoma, Geneva, "\5fae\8f6f\96c5\9ed1", "\5B8B\4F53";}
body{text-align:center; position:relative; color:#444; cursor:default;background:#fff;padding-top:0px;z-index:1}
fieldset,img{border:0;}
li{list-style:none;}
caption,th{text-align:left;}
table{border-collapse:collapse;border-spacing:0;}
img{-ms-interpolation-mode:bicubic;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
button,input,select,textarea{font-size:100%;vertical-align:middle}
em,i{ font-style:normal}
a{color:#245C99;text-decoration:none; cursor:pointer}
a:hover{color:#32A2FF;text-decoration:underline;}

#naver dd,dl.col dd{float:left;display:inline;}
#naver dt{float:right;display:inline;}

#Wrap,#htopbar div div{width:950px; margin:0 auto; text-align:left;padding:0 5px;}
#Wrap{background:#fff right 55px no-repeat;border:4px #fff solid;border-top:none;overflow:hidden;margin-top:-1px}

#naver {background:url(navbg_c0.gif) repeat-x 0;}
#naver dl {height:43px;background:url(navbg_l0.gif) no-repeat left 0;padding:0 0 0 4px}
#naver dl a{ color:#fff; font-weight:bold; font-size:15px}
#naver dt {height:43px;background:url(navbg_r0.gif) no-repeat right 0; width:128px; text-align:center; line-height:41px;}
#naver dd {text-align:center;line-height:40px; border-right:1px solid #1b8594;background-color:rgba(33,168,187,0.8)}
#naver dt a{font-size:12px; font-weight:normal; padding:0 0 0 30px;background:url(wenhao00.gif) no-repeat 0 9px;display:inline-block}
#naver dt a:hover{background:url(wenhao2.gif) no-repeat 0 9px;}
#naver dd a{border-right:1px solid #20a1b3; display:inline-block; height:40px;padding: 0 10px;}
#naver dd a:hover{ background:#1d90a0; border-left:1px solid #1b8594; text-decoration:none;padding: 0 10px 0 9px; }

